
/*--------------------------------------*/
/* GLOBAL
/*--------------------------------------*/
body, a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  color: #333;
  font-family: 'Anton', sans-serif;
}
a, a:hover, a:focus, a:active {
  color: inherit;
}
.container-fluid {
  max-width: 1200px;
  position: relative;
  overflow: hidden;
}
p {
  margin: 0px;
}
a.learn-more {
  border-bottom: 1px solid #333;
}
/*--------------------------------------*/
/* HEADER
/*--------------------------------------*/
.nav > li.active {
  text-decoration: underline;
}
/*--------------------------------------*/
/* CONTENT
/*--------------------------------------*/
.content-container {
  padding-top: 60px;
  margin: -30px;
}
.blog .item {
  width: 33.333%;
  padding: 30px;
}
.blog .item .image,
.blog.single .image {
  padding-bottom: 40%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.blog .item .title,
.blog.single .title {
  font-size: 20px;
  padding-bottom: 10px;
 text-align: center;
}
.blog .item .description,
.blog.single .description {
  padding-bottom: 10px;
}
.blog.single .arrow_nav a {
  position: absolute;
  font-size: 70px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.blog.single .arrow_nav a.next {
  right: 0px;
}
.blog.single .arrow_nav a.prev {
left: 0px;
}
@media (max-width: 1150px) {
  .content-container {
    margin: -15px;
  }
  .blog .item {
    padding: 15px;
  }
}
@media (max-width: 991px) {
  .blog .item {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .blog .item {
    width: 100%;
  }
  .blog.single .arrow_nav a {
    font-size: 50px;
    top: 50px;
    transform: inherit;
  }
  .blog.single .arrow_nav a.next {
    right: 5px;
  }
  .blog.single .arrow_nav a.prev {
  left: 5px;
  }
}
/* Disable browser width */
#display_classes {
  display: none;
}
